# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.3
language: swift
cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/MSPeekCollectionViewDelegateImplementation.xcworkspace -scheme MSPeekCollectionViewDelegateImplementation-Example -sdk iphonesimulator11.3 -destination 'platform=iOS Simulator,OS=11.1,name=iPad Pro (12.9-inch) (2nd generation)' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
